<section class="dark-section">
    <h2>Experience</h2>
    <div class="jobs">
    <div class="job">
  
        <h3>Junior Software Developer</h3>
        <h4>Sanchay Tech Private Limited</h4>
        <p>Improved software efficiency and system stability by troubleshooting complex .NET framework issues, developed secure and scalable solutions adhering to industry best practices, estimated timelines and tracked progress using Scrum methodology, and mentored junior developers to enhance their technical skills and foster a culture of continuous learning.</p>
    </div>
    <!-- <div class="job">
  
        <h3>Job Title</h3>
        <h4>Company Name</h4>
        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p>
   
    </div> -->
    </div>
    </section>