<section class="dark-section">
<h2>Projects</h2>
<div class="project">
<div>
    <h3>ShamaEduErp (2024 -present)</h3>
    <p>Currently working on a School ERP software featuring a multi-tenant architecture to support multiple schools on a single platform with secure and isolated data management. The project utilizes JWT (JSON Web Tokens) for authentication, ensuring robust security across the application. The frontend is being developed using Angular for an interactive and responsive interface, while the backend is powered by .NET Core API for scalable and efficient handling of complex educational workflows. This solution aims to provide seamless integration, enhanced user experience, and adaptability for diverse educational needs.</p>
</div>
<!-- <img src="assets/projects/IMissMyCafe.png" alt="no image"> -->
</div>
<div class="project">
    <div>
        <h3>MY Portfolio (2024)</h3>
        <p>Created an interactive Skills Management component in Angular, where users can drag and drop skills to customize their layout. Implemented dynamic positioning and random rotation of skills using Angular's built-in directives and event handling. Utilized mouse events to enable real-time drag-and-drop functionality, enhancing user experience. The project demonstrates expertise in building customizable UI components with Angular, handling state management, and implementing interactive features like drag-and-drop.</p>
    </div>
    <!-- <img src="assets/projects/IMissMyCafe.png" alt="no image"> -->
    </div>
</section>