<h1>Hello ! I'm <span class="nameColor">Mohd Ashif Khan.</span></h1>
<p>I am a dedicated .NET ERP Software Developer with nearly two years of experience delivering scalable and efficient ERP solutions. I excel in team collaboration, continuous learning, and leveraging the latest technologies to drive operational excellence and support business growth.</p>
<div class="links">
<a target="_blank" href="https://linkedin.com/in/mohd-ashif-khan-5648a8194"><img src="assets/links/linkdein.png" alt><div class="hidden-label">linkedin</div></a>
<!-- <a target="_blank" href=""><img src="assets/links/github.png" alt><div class="hidden-label">github</div></a> -->
<a target="_blank" href="mailto:ashifkhansanchay@gmail.com"><img src="assets/links/email.png" alt><div class="hidden-label">email</div></a>
<a target="_blank" href="assets/documents/Mohd Ashif Khan CV.pdf" download="Mohd Ashif Khan CV.pdf"><img src="assets/links/download.png" alt><div class="hidden-label">Download <br> Resume</div></a>
</div>
